[defaults]
inventory = inventory/hosts.yml
host_key_checking = True
retry_files_enabled = False
forks = 20
timeout = 20
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
